body {
    background: #131313;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

item-editor {
    backdrop-filter: blur(18px);
    background: hsla(0, 0%, 15%, 0.8);
}

.drawer {
    position: fixed;
    right: 10px;
    z-index: 1000;
    transition: transform .2s ease-out;
}

.drawer:not([open]) {
    transform: translate(100%, 0);
}

.drawer-handle {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translate(0, -50%);
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 6px;
    cursor: pointer;
}

.drawer-handle:hover {
    background: rgba(255, 255, 255, 0.1);
}

.drawer-handle:active {
    background: rgba(194, 194, 194, 0.1);
}

.drawer-handle svg {
    transform: scale(0.75);
    transition: transform .2s ease-out;
}

.drawer[open] .drawer-handle svg {
    transform: scale(0.75) rotate(180deg);
}

.drawer[open] + gamble-wheel {
    pointer-events: none;
}

.cp {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 12px;
    opacity: 0.25;
}

.cp a[href] {
    text-decoration: none;
    color: #eee;
    font-weight: 100;
}

.cp a[href]:hover {
    text-decoration: underline;
}

.prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 15px 20px;
    min-width: 450px;
    text-align: center;
    background: rgba(67, 67, 67, 0.9);
    backdrop-filter: blur(8px);
    border-radius: 6px;
    color: white;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.25);
    animation: apear .2s;
}

@keyframes apear {
    from { transform: translate(-50%, -50%) scale(0); }
    to { transform: translate(-50%, -50%) scale(1); }
}

.prompt .text {
    font-size: 45px;
}

.prompt .label {
    font-size: 16px;
}

.prompt button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #606060;
    border: none;
    color: white;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.animated-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

gamble-wheel {
    transition: transform .2s ease-out;
}

body[open] gamble-wheel {
    transform: translateX(-33%);
}

@keyframes roll {

    from {
        transform: perspective(100vw) rotateX(0deg);  
    }
    to {
        transform: perspective(100vw) rotateX(-360deg);
    }

}
